.horiz-card-set {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.focus-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
