header {
  background-color: #244424;
}

header .header-bounds {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0em 1.5em;
  padding: 0 5em;
  max-width: 1000px;
  margin: auto;
}

header h1 {
  display: inline-block;
  white-space: nowrap;
}

header .left-content {
  flex-grow: 1;
}

header .right-content {
  flex-grow: 0;
  font-size: 1.2em;
  padding: 0.5em 1em;
}

header .left-content, header .right-content {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

header .header-login, header .header-username {
  font-weight: 600;
}

.page-logo {
  align-self: center;
  height: 52px;
  width: 48px;
}

header p {
  margin: 0;
}
