header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 0 2em;
  background-color: #244424;
}

header h1 {
  display: inline-block;
}

header .left-content {
  flex-grow: 1;
  flex-grow: 1;
  max-width: 800px;
}

header .right-content {
  flex-grow: 0;
  font-size: 1.2em;
}

header .left-content, header .right-content {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

header .header-login, header .header-username {
  font-weight: 600;
}

header .header-login {
  background-color: #dddddd;
  color: #000000;
  padding: 0.7em;
  border-radius: 5px;
}

.page-logo {
  align-self: center;
  height: 52px;
  width: auto;
}
