/* root styles */

:root {
  font-family: Tahoma, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111811;
}

/* header styles */

header {
  background-color: #244424;
}

header .header-bounds {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 0 5em;
  max-width: 1000px;
  margin: auto;
}

header h1 {
  display: inline-block;
}

header .left-content {
  flex-grow: 1;
}

header .right-content {
  flex-grow: 0;
  font-size: 1.2em;
}

header .left-content, header .right-content {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

header .header-login, header .header-username {
  font-weight: 600;
}

/* nav styles */

nav {
  background-color: #282828;
  height: 1.6em;  
  font-size: 1.2em;
  gap: 1.5em;
}

nav ul {
  flex-grow: 1;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 5em;
  max-width: 1000px;
}

nav li {
  /* background-color: #dddddd; */
  /* color: #000000; */
}

nav a {
  font-weight: bold;
  color: #ffffff;
  transition: color 0.2s;
  transition: padding 0.3s;
  padding: 0 0.75em;
  border-right: 1px solid white;
}

nav a:visited {
  color: #ffffff;
}
nav a:hover {
  color: #66dd66;
  padding: 0 1.5em;
}

/* button styles */

.light-button {
  background-color: #dddddd;
  color: #000000;
  padding: 0.7em;
  border-radius: 5px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


main {
  align-self: center;
  max-width: 850px;
  padding: 10px 50px;
  background-color: #222822;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #66dd66;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.crisp-image {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.page-logo {
  align-self: center;
  height: 52px;
  width: 48px;
}

