/* document styles */

:root {
  font-family: Tahoma, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111811;
}

/* header styles */

header {
  background-color: #244424;
}

header .header-bounds {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 0 5em;
  max-width: 1000px;
  margin: auto;
}

header h1 {
  display: inline-block;
}

header .left-content {
  flex-grow: 1;
}

header .right-content {
  flex-grow: 0;
  font-size: 1.2em;
}

header .left-content, header .right-content {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

header .header-login, header .header-username {
  font-weight: 600;
}

/* nav styles */

nav {
  background-color: #282828;
  height: 1.6em;  
  font-size: 1.2em;
  gap: 1.5em;
  padding: 0 5em;
}

nav ul {
  flex-grow: 1;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  max-width: 1000px;
}


nav li {
  /* background-color: #dddddd; */
  /* color: #000000; */
}

nav a {
  font-weight: bold;
  color: #ffffff;
  transition: padding 0.3s, color 0.2s;
  padding: 0 0.75em;
  border-right: 1px solid white;
}

nav a:visited {
  color: #ffffff;
}
nav a:hover {
  color: #66dd66;
  padding: 0 1.5em;
}


/* main styles */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

main .main-content {
  max-width: 850px;
  flex-grow: 1;
  background-color: #222822;
  padding: 10px 50px;
  margin: 0 auto;
}

/* footer styles */

footer {
  background-color: #183818;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  font-size: 1.1em;
}

/* form styles */
.formcard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1.75em;
  background-color: #203420;
  border-radius: 10px;
  margin: 15px;
  padding: 2em;
  font-size: 1.1em;
  min-width: 150px;
  max-width: 250px;
  flex-grow: 1;
}

.formitem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.3em;
}

input {
  padding: 0.4em;
  border-radius: 3px;
  border: 1px solid black;
  font-family: inherit;
}

/* card styles */

.horiz-card-set {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.focus-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* button styles */

button {
  background-color: #eeeeee;
  color: #000000;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #24aa24;
}

/* image styles */

.crisp-image {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.page-logo {
  align-self: center;
  height: 52px;
  width: 48px;
}

.image-left {
  margin: 20px;
  float: left;
  border: 1px solid white;
}

.image-right {
  float: right;
  margin: 20px;
  border: 1px solid white;
}


/* laws styles */

.laws {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.laws li {
  background-color: #203420;
  border-radius: 10px;
  margin: 15px;
  padding: 2em;
  font-size: 1.1em;
  font-weight: bold;
}


/* misc */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

