:root {
  font-family: Tahoma, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111811;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.crisp-image {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.image-left {
  margin: 20px;
  float: left;
  border: 1px solid white;
}

.image-right {
  float: right;
  margin: 20px;
  border: 1px solid white;
}

button {
  background-color: #eeeeee;
  color: #000000;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #24aa24;
}

.center {
  margin: auto;
}
